name: clean_code_template
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  # for making http requests
  http: ^1.5.0
  # for local storage
  shared_preferences: ^2.5.3
  # or flutter_riverpod/hooks_riverpod as per https://riverpod.dev/docs/getting_started
  flutter_riverpod: ^3.0.3
  # the annotation package containing @riverpod
  riverpod_annotation: ^3.0.3
  equatable: ^2.0.7
  dio: ^5.9.0
  get_it: ^9.0.5
  smooth_page_indicator: ^1.2.1
  go_router: ^17.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0
  # a tool for running code generators
  build_runner: ^2.7.1
  # the code generator
  riverpod_generator:

flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
